@charset "UTF-8";
/* line 4, ../../app/stylesheets/button.sass */
button {
  border: none;
}

/* line 7, ../../app/stylesheets/button.sass */
button, .button {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: black 0 1px 5px 0;
  -webkit-box-shadow: black 0 1px 5px 0;
  -o-box-shadow: black 0 1px 5px 0;
  box-shadow: black 0 1px 5px 0;
  text-shadow: #230308 1px 1px 1px;
  border-top: 1px solid #dd1536;
  background-color: #800c1f;
  background: -webkit-gradient(linear, left top, left bottom, from(#510814), to(#800c1f));
  background: -moz-linear-gradient(top, #510814, #800c1f);
  padding: 9px 18px;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: white;
  font-size: 20px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
}
/* line 24, ../../app/stylesheets/button.sass */
button:hover, .button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#480711), to(#770b1d));
  border-top-color: #800c1f;
  color: #dcdcdc;
}
/* line 29, ../../app/stylesheets/button.sass */
button:active, .button:active {
  border-top-color: #510814;
  background: #510814;
}
