@charset "UTF-8";
/* line 4, ../../app/stylesheets/main.sass */
.header {
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -o-border-bottom-left-radius: 8px;
  -ms-border-bottom-left-radius: 8px;
  -khtml-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  text-shadow: #444444 0 1px 1px;
  background-color: #800c1f;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#590815), to(#800c1f), color-stop(0.7, #800c1f));
  border-bottom: 4px solid white;
  left: 0;
  margin: auto;
  min-width: 600px;
  position: absolute;
  right: 0;
  top: 0;
  height: 20px;
  width: 50%;
}
/* line 20, ../../app/stylesheets/main.sass */
.header li {
  display: inline-block;
  padding-top: 2px;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 26, ../../app/stylesheets/main.sass */
.header li a {
  color: #dcdcdc;
  text-decoration: none;
}
/* line 30, ../../app/stylesheets/main.sass */
.header li a:hover {
  color: #f6f6f6;
}

/* line 33, ../../app/stylesheets/main.sass */
a {
  color: #3b95e9;
  text-decoration: underline;
}
/* line 37, ../../app/stylesheets/main.sass */
a:hover {
  color: #69aeee;
  text-decoration: none;
}

/* line 41, ../../app/stylesheets/main.sass */
#login_link {
  position: absolute;
  top: 13px;
  right: 40px;
}

/* line 46, ../../app/stylesheets/main.sass */
body {
  background-color: #082449;
  color: #86aad1;
  font-family: helvetica, arial, sans-serif;
}

/* line 51, ../../app/stylesheets/main.sass */
h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

/* line 54, ../../app/stylesheets/main.sass */
h2 {
  font-size: 1.5em;
  margin-bottom: 0.25em;
}

/* line 57, ../../app/stylesheets/main.sass */
h3 {
  font-size: 0.9em;
}

/* line 60, ../../app/stylesheets/main.sass */
.container {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: #030e1c 1px 1px 5px 0;
  -webkit-box-shadow: #030e1c 1px 1px 5px 0;
  -o-box-shadow: #030e1c 1px 1px 5px 0;
  box-shadow: #030e1c 1px 1px 5px 0;
  background-color: #143c69;
  border-top: 1px solid #1c5494;
  border-left: 1px solid #1c5494;
  color: #ced4da;
  padding: 1em;
  width: 360px;
}

/* line 71, ../../app/stylesheets/main.sass */
#team_name {
  display: block;
}

/* line 74, ../../app/stylesheets/main.sass */
.name_container {
  display: inline-block;
}

/* line 77, ../../app/stylesheets/main.sass */
.congressman {
  display: inline-block;
  margin-bottom: 1em;
  width: 300px;
}
/* line 83, ../../app/stylesheets/main.sass */
.congressman .thumb img {
  border-radius: 8px;
  float: left;
}
/* line 87, ../../app/stylesheets/main.sass */
.congressman ul {
  margin-left: 6em;
  padding-top: 0.3em;
}
/* line 91, ../../app/stylesheets/main.sass */
.congressman ul li {
  margin-left: 1em;
}

/* line 95, ../../app/stylesheets/main.sass */
ul.square {
  list-style: square inside;
}
/* line 98, ../../app/stylesheets/main.sass */
ul.disc {
  list-style: disc inside;
}

/* line 101, ../../app/stylesheets/main.sass */
.rep {
  color: #800c1f;
}

/* line 104, ../../app/stylesheets/main.sass */
.dem {
  color: #082449;
}

/* line 107, ../../app/stylesheets/main.sass */
.ind {
  color: #dcdcdc;
}

/* line 110, ../../app/stylesheets/main.sass */
.green {
  color: green;
}
