/* line 1, ../../app/stylesheets/main.sass */
#login_link {
  position: absolute;
  top: 13px;
  right: 40px;
}

/* line 6, ../../app/stylesheets/main.sass */
body {
  font-family: helvetica, arial, sans-serif;
}

/* line 9, ../../app/stylesheets/main.sass */
h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

/* line 12, ../../app/stylesheets/main.sass */
h2 {
  font-size: 1.5em;
  margin-bottom: 0.25em;
}

/* line 15, ../../app/stylesheets/main.sass */
h3 {
  font-size: 1.25em;
}

/* line 18, ../../app/stylesheets/main.sass */
.congressman {
  display: inline-block;
  margin-bottom: 1em;
  width: 300px;
}
/* line 24, ../../app/stylesheets/main.sass */
.congressman .thumb img {
  border-radius: 8px;
  float: left;
}
/* line 28, ../../app/stylesheets/main.sass */
.congressman ul {
  margin-left: 6em;
  padding-top: 0.3em;
}
/* line 32, ../../app/stylesheets/main.sass */
.congressman ul li {
  margin-left: 1em;
}

/* line 36, ../../app/stylesheets/main.sass */
ul.square {
  list-style: square inside;
}
/* line 39, ../../app/stylesheets/main.sass */
ul.disc {
  list-style: disc inside;
}

/* line 42, ../../app/stylesheets/main.sass */
.rep {
  color: red;
}

/* line 45, ../../app/stylesheets/main.sass */
.dem {
  color: blue;
}

/* line 48, ../../app/stylesheets/main.sass */
.ind {
  color: gray;
}

/* line 51, ../../app/stylesheets/main.sass */
.green {
  color: green;
}
