@charset "UTF-8";
/* line 4, ../../app/stylesheets/main.sass */
.header {
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -o-border-bottom-left-radius: 8px;
  -ms-border-bottom-left-radius: 8px;
  -khtml-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #800c1f;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#590815), to(#800c1f), color-stop(0.7, #800c1f));
  border-bottom: 4px solid white;
  left: 0;
  margin: auto;
  min-width: 600px;
  position: absolute;
  right: 0;
  top: 0;
  height: 20px;
  width: 50%;
}
/* line 19, ../../app/stylesheets/main.sass */
.header li {
  display: inline-block;
  padding-top: 2px;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 25, ../../app/stylesheets/main.sass */
.header li a {
  color: #dcdcdc;
  text-decoration: none;
}
/* line 29, ../../app/stylesheets/main.sass */
.header li a:hover {
  color: #f6f6f6;
}

/* line 32, ../../app/stylesheets/main.sass */
a {
  color: #3b95e9;
  text-decoration: underline;
}
/* line 36, ../../app/stylesheets/main.sass */
a:hover {
  color: #69aeee;
  text-decoration: none;
}

/* line 40, ../../app/stylesheets/main.sass */
#login_link {
  position: absolute;
  top: 13px;
  right: 40px;
}

/* line 45, ../../app/stylesheets/main.sass */
body {
  background-color: #082449;
  color: #86aad1;
  font-family: helvetica, arial, sans-serif;
}

/* line 50, ../../app/stylesheets/main.sass */
h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

/* line 53, ../../app/stylesheets/main.sass */
h2 {
  font-size: 1.5em;
  margin-bottom: 0.25em;
}

/* line 56, ../../app/stylesheets/main.sass */
h3 {
  font-size: 0.9em;
}

/* line 59, ../../app/stylesheets/main.sass */
.container {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-color: #143c69;
  color: #ced4da;
  padding: 1em;
  width: 360px;
}

/* line 67, ../../app/stylesheets/main.sass */
.congressman {
  display: inline-block;
  margin-bottom: 1em;
  width: 300px;
}
/* line 73, ../../app/stylesheets/main.sass */
.congressman .thumb img {
  border-radius: 8px;
  float: left;
}
/* line 77, ../../app/stylesheets/main.sass */
.congressman ul {
  margin-left: 6em;
  padding-top: 0.3em;
}
/* line 81, ../../app/stylesheets/main.sass */
.congressman ul li {
  margin-left: 1em;
}

/* line 85, ../../app/stylesheets/main.sass */
ul.square {
  list-style: square inside;
}
/* line 88, ../../app/stylesheets/main.sass */
ul.disc {
  list-style: disc inside;
}

/* line 91, ../../app/stylesheets/main.sass */
.rep {
  color: #800c1f;
}

/* line 94, ../../app/stylesheets/main.sass */
.dem {
  color: #082449;
}

/* line 97, ../../app/stylesheets/main.sass */
.ind {
  color: #dcdcdc;
}

/* line 100, ../../app/stylesheets/main.sass */
.green {
  color: green;
}
