%style
  :sass
    @import util

    h1
      margin-bottom: 0.5em
      margin-left: auto
      margin-right: auto
      width: 50%

    .container
      margin: auto
      width: 620px

    .congressman
      .gloss
        +gloss

        position: absolute

      ul
        width: 260px

%h1
  #{user.display_name}'s roster

- if @data.empty?
  You don't have a team.
  = link_to "Draft one now", draft_user_path(current_user)
- else
  .congress.container
    = render :partial => "congressman", :collection => @data
