#login_link
  position: absolute
  top: 13px
  right: 40px

body
  font-family: helvetica, arial, sans-serif

h1
  font-size: 2.5em
  margin-bottom: 0.5em
h2
  font-size: 1.5em
  margin-bottom: 0.25em
h3
  font-size: 1.25em

.congressman
  display: inline-block
  margin-bottom: 1em
  width: 300px

  .thumb
    img
      border-radius: 8px
      float: left

  ul
    margin-left: 6em
    padding-top: 0.3em

    li
      margin-left: 1em

ul
  &.square
    list-style: square inside

  &.disc
    list-style: disc inside

.rep
  color: red

.dem
  color: blue

.ind
  color: gray

.green
  color: green